:root {
	--cor-primaria: #8a8a8a;
	--cor-secundaria: #f2f2f2;
	--cor-texto: #333333;

	--fonte-principal: 'Tahoma', sans-serif;
	--tamanho-fonte-base: 16px;

	--espacamento-padrao: 1rem;
	--borda-arredondada: 8px;
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	background-color: var(--cor-primaria);
	/* background-color: #005eff; */
}
